/* Grid Container */
body {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    grid-template-rows: 50px 1fr 35px;
    grid-template-columns: 230px 1fr;
    min-height: 100vh;
    line-height: 1.6;
    font-size: 16px; /* Adjust the font size as needed */
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid Items */
.header {
    grid-area: header;
    background-color: rgba(var(--bs-primary-rgb));
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.header img {
    margin-left: 1rem;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.content {
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
}

.sidebar {
    background: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
}

.footer {
    grid-area: footer;
    background-color: rgba(var(--bs-primary-rgb));
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px; 
}

.footer p {
    margin-bottom: 0;
}

section {
    overflow-y: hidden; 
}

/* Remove a borda da classe content */
section .content {
    border: none;
}

#content table {
    width: 100%;
}

.nav {
    grid-area: nav;
    background-color: rgba(var(--bs-primary-rgb));
    color: #fff;
}

.ul-first {
    margin-top: 6rem; /* Ajuste conforme necessário */
}

.nav-link {
    font-size: 14px; /* Adjust the font size as needed */
}

.menu-lateral {
    max-height: 100vh; /* Máxima altura da viewport */
    overflow-y: auto; /* Habilita rolagem vertical quando necessário */
    position: fixed; /* Mantém o menu fixo na posição */
    left: 0; /* Alinha o menu à esquerda */
    top: 0; /* Alinha o menu no topo */
    background-color: #007bff; /* Cor de fundo */
    color: white; /* Cor do texto */
    width: 230px; /* Define a largura do menu lateral */
    word-wrap: break-word; /* Permite quebra de linha */
    white-space: normal; /* Permite quebra de linha */
}

.submenu-1 {
    list-style-type: none;
    padding-left: 20px; /* Ajuste conforme necessário */
}

.submenu-1 li::before {
    display: inline-block;
    width: 1em; /* Largura do ícone (pode ser ajustada) */
    margin-left: -1em; /* Margem negativa para alinhar com o texto */
}

.submenu-2 {
    margin-left: 20px; /* Ajuste conforme necessário para o segundo nível */
}

.submenu-2 li::before {
    display: inline-block;
    width: 1em; /* Largura do ícone (pode ser ajustada) */
    margin-left: -1em; /* Margem negativa para alinhar com o texto */
}

.submenu-3 {
    margin-left: 40px; /* Ajuste conforme necessário para o terceiro nível */
}

.submenu-3 li::before {
    display: inline-block;
    width: 1em; /* Largura do ícone (pode ser ajustada) */
    margin-left: -1em; /* Margem negativa para alinhar com o texto */
}

.disabled {
    pointer-events: none;
    opacity: 0.6; /* Ajuste a opacidade conforme necessário */
}

#table tbody tr.lineselected {
   background-color: #d6f0dc;
}

.form-container {
    background-color: #f8f9fa; /* Cor de fundo clara */
    padding: 20px; /* Preenchimento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-top: 20px; /* Margem superior */
}

/* Aplica o tamanho da fonte a toda a tabela e aos componentes internos */
#table, #table th, #table td {
    font-size: 12px;  /* Você pode ajustar o tamanho conforme necessário */
    line-height: 1px;
    vertical-align: middle;  /* Centraliza verticalmente o conteúdo das células */
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;  /* Impede quebra de linha dentro das células */
}

/* Adiciona uma classe de estilo personalizado para ajustar o tamanho da fonte da tabela */
.table-smaller-font td,
.table-smaller-font th {
    font-size: 0.875rem; /* Ajuste o tamanho da fonte conforme necessário */
}

table {
    page-break-inside: auto;
    width: 100%;
    border-collapse: collapse; /* Remove gaps between table cells */
    background-color: #f8f9fa; /* Cor de fundo clara */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-footer-group;
}

.bordered-container {
    border: 1px solid #d6cfcf; /* Define a Espessura e a Cor da Borda */
    background-color: #fff;   /* Define o Fundo Branco */
    border-radius: 5px;       /* Define o Arredondamento dos Cantos da Borda */
    padding: 1px;            /* Define o Espaçamento Interno */
    padding-left: 7px;
}

/* Estilos do Select2 */
.custom-dropdown {
    max-width: max-content !important; /* Ajuste este valor conforme necessário */
}

.select2-container--default .select2-selection--single .select2-selection__rendered .select2-dropdown{
    height: 30px; /* Altura do campo select */
    line-height: 30px; /* Alinha verticalmente o texto */
    padding-left: 10px; /* Ajuste conforme necessário */
    padding-right: 10px; /* Ajuste conforme necessário */
    box-sizing: border-box;
}

.select2-selection__arrow {
    height: 30px; /* Altura da seta */
}

.select2-results__option {
    height: 30px; /* Altura das opções */
    display: flex;
    align-items: center;
}

.form-select, .select2-container .select2-selection--single .form-lab {
    height: 30px; /* Garantir altura consistente para todos os campos */
    display: flex;
    align-items: center; /* Centralizando verticalmente */
    padding: 0; /* Remove o padding */
}

/* Ajusta padding e borda para alinhar visualmente */
.select2-container .select2-selection--single .select2-selection__rendered {
    display: flex;
    align-items: center;
}

/* CSS para impedir quebra de linha nas opções do select2 */
.select2-container--default .select2-results__option {
    white-space: nowrap; /* Impede quebra de linha */
}

.form-control {
    padding: 2px;
    padding-left: 4px;
}

************** Spinner ***************************/        
.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999;
background-color: transparent; /* Remova o fundo escurecido */
}

.modal-content {
position: fixed;
top: 50%;
left: 45%;
transform: translate(-50%, -50%);
max-width: 15%;
padding: 20px;
border: 2px solid #000;
border-radius: 5px;
background-color: white;
z-index: 1001; /* Deve ser maior que o z-index de modal-overlay */
}

.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.3);
z-index: 1000;
}

.modal-text {
text-align: center;
margin: 10px 0 0 0;
padding: 0;
}

.spinner {
text-align: center;
}

.spinner div {
width: 15px;
height: 15px;
background-color: #333;
border-radius: 100%;
display: inline-block;
animation: bounce 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
animation-delay: -0.32s;
}

.spinner .bounce2 {
animation-delay: -0.16s;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }
}